body {
  min-height: 100vh;
  width: 100vw;
  background-color: #342533;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
  font-family: "Raleway", sans-serif;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

.btn {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  height: 2rem;
  padding: 0.5 rem 1.5 rem;
  color: rgb(27, 10, 125);
  font-size: 1rem;
}
